/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    background: #1F0329;
    color: #fff;
    background-image: url(../images/world.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
  }
  body.japanese {
    font-size: 1em;
  }
  .japanese .display-3 {
    font-size: 3.5rem;
}
  .japanese h3 {
    font-size: 1.25rem;
  }
  .japanese h2 {
    font-size: 1.5rem;
  }
  a, a:hover {
    color: #399CFC;
  }
  .btn-primary {
    background-color: #399CFC;
    border-color: #399CFC;
    }
  h1, h2, h3, h4 {
    font-family: 'Agdasima', sans-serif;
  }
.navbar-brand img {
    width: 200px;
    height: auto;
    display: block;
}

/* languages */
.languages {
    position: fixed;
    top: 100px;
    right: 0;
}
.languages li {
    margin-bottom: 20px;
}
.languages img {
    width: auto;
    height: 30px;
}



.padding-t3 {
    padding-top: 3em;
}
.margin-b1 {
    margin-bottom: 1em;
}

/* jumbotron */
.jumbotron {
    background-color: transparent;
}
.bigText {
    font-size: 3em; 
}
/*  parallax */

.parallax-window {
    min-height: 300px;
    background: transparent;
    padding: 2em;
}
.parapara {
    padding-top: 3em;
    width: 100%;
    z-index: 1;
    text-align: center;
  }

  .parallax-windowBreak {
    min-height: 300px;
    background: transparent;
    padding: 2em;
    margin-top: 4em;
  }

  /* contact us */
  .list-group-item {
    color: #fff;
    background-color: rgba(0,0,0,.125);
    border: 1px solid rgba(225,225 ,225,.085);
}
.list-group-item:hover {
    color: #fff;
    background-color: rgba(0,0,0,.225);
}



  footer {
    background: #000;
    border-top: 1px solid #2c053c;
    padding: 5em 0;
    margin-top: 4em;
  }
  .copyright {
    text-align: center;
    width: 100%;
  }


  /* ==============

  responsive

   ============== */
   @media only screen and (max-width: 768px) {
    body {
      background-size: initial;
      background-position-x: center;
    }
    hr {
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
    }
    .servicesArea ul {
      margin: 1em 0 0 0;
      padding: 0;
    }
    .servicesArea h2 {
      margin-top: 1em;
    }
    .servicesArea ul li,
    .servicesArea h2 {
      text-align: center;
      list-style: none;
    }
    .servicesArea ul li {
      margin: 0 0 1em 0;
    }
    .languages {
      position: fixed;
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
      background-color: #000;
      padding: 20px 0;
      margin: 0;
      width: 100%;
      display: flex;
      z-index: 1;
    }
    .languages li {
      flex: 1;
      margin: 0;
      padding: 0;
    }
    .languages img {
      width: auto;
      height: 35px;
      display: block;
      margin: 0 auto;
    }
    .bigText {
      font-size: 2.3em;
    }

  }

  @media (max-width: 540px) {
    .display-3 {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.2;
    }
    .bigText {
      font-size: 2.3em;
    }

  }

